@code{
    [Parameter]
    public EventCallback ButtonClicked { get; set; }
}

<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <ul class="modal-img">
                        <li> <img src="images/gif/danger.gif" alt="error"></li>
                    </ul>
                    <h4 class="text-center pb-2">Ohh! Something went wrong!</h4>
                    <p class="text-center">You are about to delete a database record. This action is irreversible and will permanently remove the selected record from the database.</p>
                    
                    <div class="col-md-12 mt-3">
                        <button class="btn btn-outline-tertiary" type="button" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger float-end" @onclick="DeleteRecord">Delete!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    private async Task DeleteRecord()
    {
        await ButtonClicked.InvokeAsync();
    }
}
