@inherits LayoutComponentBase
<div class="tap-top">
</div>
<div class="loader-wrapper">
    <div class="loader"></div>
</div>
<main class="page-wrapper compact-wrapper" id="pageWrapper">

   <Header/>

    <div class="page-body-wrapper">

        <div class="overlay"></div>
        <Sidebar/>

        <div class="page-body">
            @Body
        </div>
        
    </div>

</main>
