@page "/projects/{projectId:int}/workitems/add-workitem"
@rendermode InteractiveServer

@using KPIMS.Repos.Repositories.Board.Interfaces
@using KPIMS.Repos.Repositories.Common.Interfaces
@using KPIMS.Core.Models
@using Microsoft.AspNetCore.Authorization


@attribute [Authorize]
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject IProjectRepo ProjectRepo
@inject IDropdownRepo DropdownRepo

@code {
    [Parameter]
    public int projectId { get; set; }
    private string? URLtoken { get; set; }
    DbProject? project = new DbProject();
    private int currentWorkItemId = 0;
    private int stateChangeCount = 0;
}
<PageTitle>Add Work Item | @project?.Title</PageTitle>


<div class="container-fluid">
    <div class="row page-title">
        <div class="col-sm-6">
            <h3>Add Work Item</h3>
        </div>
        <div class="col-sm-6">
            <nav>
                <ol class="breadcrumb justify-content-sm-end align-items-center">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item"><a href="projects/@project?.Id?token=@URLtoken">@project?.Title</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Work Item</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-12">
            <p>@project?.Summary</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <ul class="simple-wrapper nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link font-primary active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link font-primary" id="profile-tabs" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">History</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row pt-2">
                                <UserStoryForm ProjectId="projectId" OnValueChanged="SetCurrentWorkItem" OnStateChangeEvent="SetStateChangeCount" WorkItemId="currentWorkItemId" />
                            </div>
                            <div class="row pt-2">
                                <WorkItemDiscussion CurrentItemId="currentWorkItemId" />
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tabs">
                            <div class="row pt-2">
                                <WorkItemChangeLogs CurrentItemId="currentWorkItemId" StateChangeCount="stateChangeCount" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("token", out var token))
        {
            URLtoken = token;
        }

        project = await ProjectRepo.GetProjectByIdAsync(projectId);
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JS.InvokeVoidAsync("HideLoader", ".loader-wrapper");
            StateHasChanged();
        }
    }

    private void SetCurrentWorkItem(int value)
    {
        currentWorkItemId = value;
        StateHasChanged();
    }

    private void SetStateChangeCount(int param)
    {
        stateChangeCount++;
        StateHasChanged();
    }




}