<div class="card">
    <div class="card-header pb-0">
        <h4>Default lists</h4>
    </div>
    <div class="card-body">
        <ol class="list-group list-group-numbered badge-list">
            <li class="list-group-item">
                <div>Stella Nowland</div><span class="badge badge-warning rounded-pill p-2">Freelance</span>
            </li>
            <li class="list-group-item">
                <div>Lola Stanford</div><span class="badge badge-danger text-white rounded-pill p-2">Issue</span>
            </li>
            <li class="list-group-item">
                <div>Caitlin Coungeau</div><span class="badge badge-primary text-white rounded-pill p-2">Social</span>
            </li>
            <li class="list-group-item">
                <div>Graciela W. McClaran</div><span class="badge badge-danger text-white rounded-pill p-2">Issue</span>
            </li>
        </ol>
    </div>
</div>

@code {

}
