<div class="card project-card">
    <div class="card-header">
        <h4>Project Overview</h4>
    </div>
    <div class="card-body pt-0">
        <h4>56<span class="ms-1">Project</span></h4>
        <div class="row align-items-center">
            <div class="col-5 custom-width">
                <div class="progress progress-striped-primary">
                    <div class="progress-bar" style="width: 55%" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-striped-secondary">
                    <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-striped-tertiary">
                    <div class="progress-bar" style="width: 45%" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-7 d-sm-none d-md-block">
                <ul class="overview-details">
                    <li class="d-flex align-items-center">
                        <div class="circle-dot-primary"><span></span></div>
                        <h5>15<span class="font-light ms-1">Signed</span></h5>
                    </li>
                    <li class="d-flex align-items-center">
                        <div class="circle-dot-secondary"><span></span></div>
                        <h5>62<span class="font-light ms-1">Manager Review</span></h5>
                    </li>
                    <li class="d-flex align-items-center">
                        <div class="circle-dot-tertiary"><span></span></div>
                        <h5>20<span class="font-light ms-1">Client Review</span></h5>
                    </li>
                </ul>
            </div>
        </div>
        <a class="view-btn btn btn-secondary d-block w-100 position-relative" href="">
            View projects
        </a>
    </div>
</div>

@code {

}
