@using KPIMS.Core.Models

@code {
    [Parameter]
    public List<DbWorkItem>? WorkItems { get; set; }
    [Parameter]
    public string? URLtoken { get; set; }
}


@if (WorkItems is not null)
{
    <div class="accordion">
        @foreach (var usItem in WorkItems)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_@usItem.Id">
                    <a class="d-block w-100 clearfix pt-1 pb-1" href="projects/@usItem.ProjectId/workitems/edit-workitem/@usItem.Id?type=@usItem.WorkTypeId&token=@URLtoken">
                        @usItem.Title
                    </a>
                </h2>
            </div>
        }

    </div>
}


@code {

}
